<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks,</h1>
    <p>
      You have successfully registered <%= @user.name %><br>
      and your password is: <%= @user.login %><br>
    </p>
    <p>
      To view the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for tracking and have a great day!</p>
  </body>
</html>