// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#hidden{display: none;}
a{text-decoration:none !important;}
//a:hover{background-color:transparent !important; text-decoration:none !important; color: #262626 !important;}
input{width: auto !important;}
