* {font-family: 'Roboto', sans-serif;}
h1, h2, h3, h4, p {font-family: 'Roboto', sans-serif;}
h1, h4 {font-weight: 100; text-transform:uppercase; padding-left: 5px;}
#map {
  img {
    max-width: none;
  }
  label {
    width: auto;
    display: inline;
  }
}
nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
body { padding-top: 70px; }
.breadcrumb {
	background-color: transparent !important;
  color: #404040;
	margin-top: 25px;
  text-transform: uppercase;
}
.breadcrumb > li.active {
  color: #5bc0de;
}
a.btn-info {
  background-color: #36B3AD;
}
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  margin-bottom: 2em;
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }