<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="footer-title">Connective Foundation, Inc.</h3>
        <p>Do you like what Connective Quotes is about?<br/>
          Want to learn about our other projects?<br/>
          Go to: <a href="//connectivefoundation.org" target="_blank">connectivefoundation.org</a>
        </p>

        <br />

        <a class="footer-brand" href="//www.connectivquotes.com" target="_blank">
          <img src="//static1.squarespace.com/static/53c59663e4b005c742194380/t/53ecd821e4b02826edb1e1c1/1423324507282/?format=1500w" alt="connectivequotes.com" />
        </a>
      </div> <!-- /col-md-7 -->

      <div class="col-md-5">
        <div class="footer-banner">
          <h3 class="footer-title">Get Involved</h3>
          <ul>
            <li>Spread the word</li>
            <li>Join the CQ Collective</li>
            <li>Make a tax-deductible contribution</li>
            <li><a href="/www.facebook.com/connectivequotes" target="_blank">Like us on Facebook</a></li>
          </ul>
          Go to: <a href="//www.connectivquotes.com/take-action/" target="_blank">connectivequotes.com/take-action</a>
        </div>
      </div>
    </div>
  </div>
</footer>
