<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand pull-left" href="//www.connectivequotes.com/">
				<img alt="Connective Quotes Home" src="//static.squarespace.com/static/53c59663e4b005c742194380/t/53ecd821e4b02826edb1e1c1/1420222360747/?format=1500w" width="225">
			</a>
		    <!-- Help Modal Button -->
			<button type="button" class="pull-right btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal">
				Help&nbsp;<i class="fa fa-info-circle fa-fw"></i>
			</button>
			<!-- Home Button -->
			<a class="pull-right btn btn-info navbar-btn" href="//www.connectivequotes.com/" role="button">
				<i class="fa fa-home fa-lg"></i>
			</a>
		</div>
	</div>
</nav>

<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		      <h2 class="modal-title" id="myModalLabel">Quick Start Guide</h2>
		    </div>
		    <div class="modal-body">
		      <h3>Tracking a card is easy:</h3>
		      <br />
		      <ul class="list-unstyled">
		        <li><i class="fa fa-search fa-fw"></i>&nbsp;&nbsp;Search for your card's Serial Number to see where it has been.</li>
		        <br />
		        <li><i class="fa fa-plus-circle fa-fw"></i>&nbsp;&nbsp;Click on 'New Location' to add your location to the list.</li>
		        <br />
		        <li>
		          <i class="fa fa-font fa-fw"></i>&nbsp;&nbsp;Type in the card's Serial Number your address and name.
		          <ul class="list-unstyled">
		            <li class="small" style="margin-left:25px"><em>Share as much or as little information as you'd like.</em></li>
		          </ul>
		        </li>
		        <br />
		        <li><i class="fa fa-send fa-fw"></i>&nbsp;&nbsp;Click 'Create Location' to submit your information.</li>
		        <br />
		        <li><i class="fa fa-home fa-fw">The "Home" button takes you back to connectivequotes.com</i></li>
		      </ul>
		      <br />
		      <h3>That's it!</h3>
		      <p>For additional assistance, please contact us at <a href="mailto:support@connectivequotes.com">support@connectivequotes.com</a>.</p>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>
<!-- Modal End -->