<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
	      <span class="sr-only">Toggle navigation</span>
	    </button>
			<a class="navbar-brand" href="//connectivequotes.squarespace.com/">
				<i class="fa fa-home"></i>&nbsp;Connective Quotes
			</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-01">
	    <ul class="nav navbar-nav">
	      <li class="active"><%= link_to "Card list", root_path %></li>
	      <li style="cursor:pointer;"><a data-toggle="modal" data-target="#myModal">Help</a></li>
	    </ul>
	    <form class="navbar-form navbar-right" action="#" role="search">
	      <div class="form-group">
	        <div class="input-group">
						<%= text_field_tag :search, params[:search], placeholder: "Search", :class => "form-control", :id =>"navbarInput-01" %>
	          <span class="input-group-btn">
	            <button type="submit" class="btn"><i class="fa fa-fw fa-search"></i></button>
	          </span>
	        </div>
	      </div>
	    </form>
	  </div><!-- /.navbar-collapse -->
	</div>
</nav><!-- /navbar -->

<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		      <h2 class="modal-title" id="myModalLabel">Quick Start Guide</h2>
		    </div>
		    <div class="modal-body">
		      <h3>Tracking a card is easy:</h3>
		      <br />
		      <ul class="list-unstyled">
		        <li><i class="fa fa-search fa-fw"></i>&nbsp;&nbsp;Search for your card's Serial Number to see where it has been.</li>
		        <br />
		        <li><i class="fa fa-plus-circle fa-fw"></i>&nbsp;&nbsp;Click on 'New Location' to add your location to the list.</li>
		        <br />
		        <li>
		          <i class="fa fa-font fa-fw"></i>&nbsp;&nbsp;Type in the card's Serial Number your address and name.
		          <ul class="list-unstyled">
		            <li class="small" style="margin-left:25px"><em>Share as much or as little information as you'd like.</em></li>
		          </ul>
		        </li>
		        <br />
		        <li><i class="fa fa-send fa-fw"></i>&nbsp;&nbsp;Click 'Create Location' to submit your information.</li>
		        <br />
		        <li><i class="fa fa-home fa-fw"></i>&nbsp;&nbsp;The 'Home' button takes you back to connectivequotes.com</li>
		      </ul>
		      <br />
		      <h3>That's it!</h3>
		      <p>For additional assistance, please contact us at <a href="mailto:support@connectivequotes.com">support@connectivequotes.com</a>.</p>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-embossed btn-primary" data-dismiss="modal">Close</button>
		    </div>
		  </div>
		</div>
	</div>
<!-- Modal End -->
