	<div class="row">
		<h1>Edit location</h1>
	</div>
	<br />
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<i class="fa fa-eye fa-fw"></i>&nbsp;<%= link_to 'Show', @location %> |
		<i class="fa fa-home fa-fw"></i>&nbsp;<%= link_to 'Home', locations_path %> |
		<i class="fa fa-trash-o fa-fw"></i>&nbsp;<%= link_to 'Delete', @location, method: :delete, data: { confirm: 'Are you sure?' } %>
	</div>