<br />
<!-- BREADCRUMB NAV -->
	<div class="row">
		<div class="col-md-6">
			<div class="btn-toolbar">
				<div class="btn-group">
					<%= link_to root_path, :class => "btn btn-primary" do %>
						<i class="fa fa-lg fa-home"></i>
					<% end %>
					<a class="btn btn-primary active" href="#"><i class="fa fa-lg fa-plus"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<h1>Add Location</h1>
	</div>
	<br />
	<div class="row">
		<%= render 'form' %>
	</div>
	<div class="row">
		<i class="fa fa-arrow-circle-left fa-fw"></i>&nbsp;<%= link_to 'Back', locations_path %>
	</div>
